
.invoice-temp {
    background: #FFF;
    border-radius: 1px;
    min-height: 1100px;
    padding: 30px 33px 0 35px;
    box-shadow: 0 0 17px 0 rgb(16 40 73 / 9%);
}

.invoice-temp .form-control {
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 6px;
    border-color: transparent;

    padding-left: 0px;
    padding-right: 0;
}

.invoice-temp .form-control:focus {
    background: aliceblue;
    box-shadow: none;
    border: 1px solid #ccc;
}

.invoice-title {
    background: #158796;
    margin-bottom: 30px;
}
.invoice-temp .invoice-title .form-control:focus,
.invoice-temp .invoice-title .form-control:focus-visible,
.invoice-temp .invoice-title .form-control:focus-within {
    background: transparent;
}
.invoice-head {
    margin-bottom: 30px;
}

.invoice-temp .invoice-title .form-control {
    text-align: center;
    font-size: 24px;
    line-height: initial;
    height: auto;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0px;
    color: #fff;
    background: transparent;
}

.items-table {
    margin-top: 50px;
}

.items-table thead {
    background: #d8f0fc;
}
.items-table thead th {
    border-bottom: 0px;
    padding: 8px 12px;
}

.items-table thead th {
    font-size: 13px;
    color: rgb(0 0 0 / 69%);
}

.table tbody td,
.table tbody th {
    font-size: 13px;
    vertical-align: middle;
}

.table tbody tr td:last-child input {
    text-align: right;
    padding-right: 0px;
}

.invoice-temp .items-table textarea.form-control {
    line-height: inherit;
    min-height: 20px;
    height: 50px;
    overflow-wrap: break-word;
    resize: horizontal;
    width: 90%;
}
.items-table thead th:last-child {
    text-align: right;
}
.items-table tr {
    position: relative;
}
.items-table tr:hover .d-btn{
    visibility: visible;
    opacity: 1;
}
.items-table tr .d-btn {
    visibility: hidden;
    opacity: 0;
    padding: 1px 2px;
    line-height: 1;
    top: 9px;
    position: relative;
    font-size: 15px;
}
.table .btn-td {
    position: absolute;
    border: 0px;
    padding: 0px;
}
.text-right{
    text-align: right;
}


.bill-sec .row {
    display: block;
}

.bill-sec .col-lg-6 {
    width: 50%;
    float: left;
    flex: none;
}

.bill-sec .col-lg-4 {
    width: 35%;
    float: left;
}

.bill-sec .row:after {
    content: '';
    display: table;
    clear: both;
}
.printEnable .invoice-temp {
    box-shadow: none;
}

.printEnable .invoice-temp .btn.btn-primary.btn-sm {
    display: none;
}
.inv-wrapper {
    background: #f4f6f9;
    min-height: 100vh;
    padding-top: 50px;
}
table.right {
    float: right;
    text-align: right;
}
table.right p {
    margin-bottom: 0px;
    margin-right: 10px;
}
.items-table .table tr:nth-of-type(even) {
    background: #fff;
}
.items-table .table tr:nth-of-type(odd) {
    background: #F9F9F9;
}
.items-table td .form-group>input {
    margin-bottom: 0px;
    background: transparent;
}
.items-table .table thead tr:nth-of-type(odd) {
    background: transparent;
}
.form-title {
    font-size: 14px;
    color: rgb(0 0 0 / 51%);
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 8px;
}
.content {
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
}